body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  letter-spacing: 0.03em;
}

body.is-modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 40px;
  }
  @media screen and (min-width: 1024px) {
    width: 1024px;
    padding: 0 40px;
  }
}

.post.section .container {
  @media screen and (min-width: 1024px) {
    padding: 0 35px;
    width: 412px;
  }
}

.container.preparation-text {
  @media screen and (min-width: 1024px) {
    padding: 0 35px;
    padding-top: 30px;
  }
}

.container-double {
  margin: 0 auto;
  @media screen and (min-width: 1024px) {
    display: flex;
    width: 1024px;
  }
}

.container-double-reverse {
  margin: 0 auto;
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row-reverse;
    width: 1024px;
  }
}
