.contacts {
  padding-top: 25px;
  padding-bottom: 18px;
  background-color: #f5f6fa;
  @media screen and (min-width: 768px) {
    padding: 25px 0;
  }
}

.contacts__wrapper {
  @media screen and (min-width: 767px) {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}

.contacts__title {
  display: inline-block;
  color: $title-green-color;
  font-family: Comfortaa;
  font-size: 20px;
  font-weight: 400;

  margin-bottom: 10px;

  @media screen and (min-width: 767px) {
    position: absolute;
    left: 5px;
    font-size: 24px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 32px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;

  padding-left: 5px;
  margin-bottom: 18px;

  list-style: none;

  @media screen and (min-width: 768px) {
    gap: 20px;
  }
}

.contacts__item {
  display: flex;
  align-items: center;
}

.contacts__link {
  color: #364f6b;
  font-family: Comfortaa;
  font-size: 15px;
  font-weight: 200;

  text-decoration: none;
  @media screen and (min-width: 767px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 18px;
  }
}

.contacts__icon {
  margin-right: 9px;

  fill: $brand-dark-color;
}

.contacts__map {
  width: 100%;
  height: 300px;
  @media screen and (max-width: 767px) {
    max-width: 480px;
  }

  @media screen and (min-width: 767px) {
    width: 373px;
    display: inline-block;
  }
  @media screen and (min-width: 1024px) {
    width: 473px;
    display: inline-block;
  }
}
