.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px;
  margin: 0 auto;

  background-color: $brand-dark-color;
  max-width: 480px;
  @media screen and (min-width: 767px) {
    padding: 40px;

    max-width: 768px;
    font-size: 16px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 1024px;
    font-size: 18px;
  }
}

.footer__title {
  font-size: 20px;
}

.footer__social-list,
.footer__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 5px;

  list-style: none;
  padding: 0;
}

.footer__social-link {
  font-size: 17px;
  text-decoration: none;
  color: $black-color;
}

.footer__copy {
  font-family: Comfortaa;
  font-size: 17px;
}
