.page-header {
  position: relative;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  @media screen and (min-width: 768px) {
    width: 174px;
  }
}
