.menu-toggle {
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.menu-toggle .icon-close {
  display: none;
}

.menu-toggle.is-open .icon-close {
  display: block;
}

.menu-toggle.is-open .icon-menu {
  display: none;
}
