.nav-list {
  position: absolute;

  width: 80%;
  height: 80vw;
  top: 100%;
  left: -16px;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;

  background-color: rgb(237, 234, 243);
  padding: 30px;
  text-align: center;
  font-size: 18px;
  list-style: none;

  display: none;
  &.is-open {
    display: flex;
  }
  @media screen and (min-width: 768px) {
    font-size: 25px;
    gap: 25px;
  }
}

.nav-link {
  color: black;
  text-decoration: none;
  &__contact {
    position: absolute;
    left: 30px;
  }
}

.nav-contacts {
  margin-top: 50px;
}
