.post {
  @media screen and (min-width: 768px) {
    padding-bottom: 25px;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1024px) {
  }
}

.post-wrapper {
  @media screen and (min-width: 1024px) {
    width: 352px;
  }
}
