.preparation {
  padding: 25px 0;
}

.preparation__title {
  text-align: center;
  margin-bottom: 15px;

  color: #fc5185;
  font-family: Comfortaa;
  font-size: 18px;
  font-weight: 400;
}

.preparation__list {
  padding-left: 27px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;

  &:not(last-child) {
    margin-bottom: 18px;
  }
}

.preparation__item {
  font-size: 12px;
  font-weight: 200;
}

.preparation__descr {
  margin-bottom: 11px;

  font-weight: 400;
  line-height: 133.333%;
}

.preparation-thumb__img {
  max-width: 480px;
  min-height: 564px;

  background-image: linear-gradient(rgba(217, 160, 164, 0.2), rgba(217, 160, 164, 0.2)),
    url(../images/prep-480@2.jpg);
  background-size: cover;
  background-position: center;
}
