table {
  margin: 0 auto;
  padding-top: 30px;
  width: 300px;
}

th,
td {
  padding: 5px;
}
td {
  display: flex;
  justify-content: space-between;
}

th {
  background-color: #f2c8cb;
  text-align: center;
}

.price {
  width: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: $white-color;
  border-radius: 10px;
  max-height: 80vh;
  overflow-y: auto;
}

.price__title {
  text-align: center;
}

.price__title {
  text-align: center;
}

.price__pink {
  background-color: #f9e5e6;
}
