table {
  margin: 0 auto;
  padding-top: 30px;
  width: 300px;
  @media screen and (min-width: 768px) {
    width: 600px;
  }
}

th,
td {
  padding: 5px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}
td {
  display: flex;
  justify-content: space-between;
}

th {
  background-color: #f2c8cb;
  text-align: center;
}

.price {
  width: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: $white-color;
  border-radius: 10px;
  max-height: 80vh;
  overflow-y: auto;
}

.price__title {
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 34px;
  }
}

.price__pink {
  background-color: #f9e5e6;
}

.price__close {
  position: absolute;
  top: 7vh;
  right: calc(50% - 207px);
  background-color: $white-color;
}
