.recommend {
  padding: 25px 0;
  background-color: rgba(255, 226, 226, 0.6);
}

// .contr-recomend {
//   padding: 25px 16px;
//   background-color: #f9edee;

//   margin-left: auto;
//   margin-right: auto;

//   @media screen and (min-width: 480px) {
//     width: 480px;
//   }
//   @media screen and (min-width: 768px) {
//     width: 768px;
//   }
// }

.recommend__title {
  text-align: center;
  margin-bottom: 15px;

  color: #fc5185;
  font-family: Comfortaa;
  font-size: 18px;
  font-weight: 400;

  &--dark {
    color: #364f6b;
  }

  @media screen and (min-width: 768px) {
    font-size: 34px;
  }
}

.recommend__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;

  padding-left: 27px;

  @media screen and (min-width: 768px) {
    gap: 7px;
  }
}

.recommend__item {
  font-size: 12px;
  font-weight: 200;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    font-weight: 300;
  }
}

.recommend__descr {
  margin-bottom: 11px;

  font-weight: 400;
  line-height: 133.333%;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
